//Settings
@import 'settings/_animations.scss';

//Parts
@import 'parts/_intro.scss';
@import 'parts/_interface.scss';
@import 'parts/_warnings.scss';


body,
html {

  padding: 0;
  margin: 0;
  font-family: Helvetica;

}

#container {

  width: 100%;
  height: 100vh;

}

