@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutLogo {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fillLeftToRight {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 30%;
    opacity: 1;
  }
}
@keyframes dropDown {
  0% {
    top: -400px;
  }
  100% {
    top: 60px;
  }
}
@keyframes dropBack {
  0% {
    top: 60px;
  }
  100% {
    top: -400px;
  }
}
@keyframes alt {
  0% {
    bottom: 50px;
  }
  40% {
    bottom: 60px;
  }
  100% {
    bottom: 110px;
  }
}
@keyframes botToTop {
  0% {
    bottom: -160px;
  }
  100% {
    bottom: 0;
  }
}
.intro-holder {
  width: 100%;
  height: 100%;
  background-color: purple;
  animation: fadeIn 800ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}
.intro-holder img {
  width: 30%;
  opacity: 1;
  animation: 800ms fadeIn 800ms linear;
}
.intro-holder.stop {
  animation: fadeOut 800ms linear;
  opacity: 0;
}

.interface {
  opacity: 0;
  visibility: hidden;
}
.interface.visible {
  opacity: 1;
  visibility: visible;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.interface .left-side-bar {
  position: absolute;
  left: 0;
  top: -460px;
  width: 360px;
  height: 400px;
  overflow: scroll;
  background-color: #343434;
  font-size: 12px;
  border-radius: 0 0 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 97;
}
.interface .left-side-bar .overlay {
  width: 100%;
  height: 40px;
  background-color: red;
  border-radius: 0 0 50px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.interface .left-side-bar .drone-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  color: white;
  padding: 24px 0;
  margin-left: 12px;
  cursor: pointer;
}
.interface .left-side-bar .drone-card img {
  margin-right: 12px;
}
.interface .left-side-bar .drone-card .info {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}
.interface .left-side-bar .drone-card .battery {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.interface .left-side-bar .drone-card .area {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.interface .left-side-bar .notes {
  width: 90%;
  height: 24px;
  background-color: #565656;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.interface .left-side-bar .notes:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: white;
}
.interface .left-side-bar .notes span {
  padding-left: 12px;
}
.interface .bottom-bar {
  position: absolute;
  width: 100%;
  height: 160px;
  bottom: -160px;
  left: 0;
  background-color: #343434;
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 50px 50px 0 0;
}
.interface .bottom-bar .no {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  border-right: 1px solid white;
  z-index: 99;
}
.interface .bottom-bar .no span {
  padding-top: 12px;
}
.interface .bottom-bar .alt-wrapper {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 1px solid white;
}
.interface .bottom-bar .alt-wrapper .altitude {
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
}
.interface .bottom-bar .alt-wrapper .altitude .drone-icon {
  padding: 0;
  position: absolute;
  left: -24px;
  bottom: 50px;
}
.interface .bottom-bar .alt-wrapper .altitude .alt-info {
  padding: 0 0 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.interface .bottom-bar .alt-wrapper .altitude .alt-info span {
  padding: 6px 0;
  font-size: 12px;
}
.interface .bottom-bar .alt-wrapper .altitude .alt-info span:nth-child(2) {
  font-weight: 800;
  font-size: 20px;
}
.interface .bottom-bar .info-board {
  height: 100%;
  color: white;
  width: 45%;
  font-size: 12px;
  border-right: 1px solid white;
}
.interface .bottom-bar .info-board .info-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  padding: 0 60px;
  border-bottom: 1px solid white;
}
.interface .bottom-bar .info-board .info-up span {
  display: flex;
  align-items: center;
}
.interface .bottom-bar .info-board .info-down {
  height: 50%;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.interface .bottom-bar .info-board .info-down .wrapper {
  display: flex;
  align-items: center;
}
.interface .bottom-bar .info-board .bat,
.interface .bottom-bar .info-board .speed,
.interface .bottom-bar .info-board .scanned,
.interface .bottom-bar .info-board .lat,
.interface .bottom-bar .info-board .long {
  font-weight: 600;
  font-size: 20px;
}
.interface .bottom-bar .task-board {
  width: 25%;
  height: 100%;
  position: relative;
}
.interface .bottom-bar .task-board .task-title {
  position: absolute;
  left: 24px;
  top: 24px;
  font-size: 12px;
}
.interface .bottom-bar .task-board .list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
}
.interface .bottom-bar .task-board .list .task {
  width: 60%;
  height: 48px;
  background-color: #636363;
  margin-right: 48px;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 12px;
}
.interface .bottom-bar .task-board .list .task span {
  padding-left: 12px;
}

.show-alt .drone-icon {
  animation: alt 16s forwards;
}

.drop-down {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #343434;
  height: 60px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid white;
  z-index: 98;
}

.video-drone {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.open .left-side-bar {
  animation: dropDown 800ms forwards;
}

.closed .left-side-bar {
  animation: dropBack 800ms forwards;
}

.time {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #343434;
  border-radius: 0 0 0 50px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: center;
}

.show-bottom .bottom-bar {
  animation: botToTop 600ms forwards;
}

.map {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 52px;
  right: 16px;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  z-index: 98;
}
.map img {
  width: 60%;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 97;
}
.map-wrapper #map {
  opacity: 0;
  visibility: hidden;
  height: 80%;
  width: 80%;
}

.show-map #map {
  animation: fadeIn 600ms forwards;
  visibility: visible;
}

.hide-map #map {
  animation: fadeOut 600ms forwards;
  visibility: hidden;
}

.pod-background {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pod-background .save-button {
  padding: 12px 40px;
  background-color: grey;
  color: white;
  margin-top: 20px;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .logo {
  animation: fadeIn 3000ms forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .logo img {
  width: 30%;
}

.hide-intro .intro {
  animation: fadeOutLogo 2600ms forwards;
}

.landings {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 30px;
}

.hide-warnings .warning {
  opacity: 0;
  visibility: hidden;
}

.warning {
  width: 220px;
  background-color: #6f618c;
  position: absolute;
  z-index: 99;
  animation: fadeIn 400ms forwards;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  border: 1px solid white;
}
.warning:nth-last-child(1) {
  top: 28.5%;
  left: 28.71%;
}
.warning:nth-last-child(2) {
  top: 28.5%;
  right: 30%;
}
.warning h2,
.warning span {
  padding: 8px;
  margin: 0;
}
.warning .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.warning img {
  width: 100%;
  border: 1px solid white;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

#container {
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
