.interface {

  opacity: 0;
  visibility: hidden;

  &.visible {

    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
    z-index: 1;

  }

  .left-side-bar {

    position: absolute;
    left: 0;
    top: -460px;
    width: 360px;
    height: 400px;
    overflow: scroll;
    background-color: #343434;
    font-size: 12px;
    border-radius: 0 0 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .overlay {

      width: 100%;
      height: 40px;
      background-color: red;
      border-radius: 0 0 50px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 20;

    }

    .drone-card {

      display: flex;
      align-items: flex-start;
      flex-direction: row;
      color: white;
      padding: 24px 0;
      margin-left: 12px;
      cursor: pointer;

      img {

        margin-right: 12px;

      }

      .info {

        display: flex;
        flex-direction: column;
        margin-right: 48px;

      }

      .battery {

        display: flex;
        flex-direction: column;
        margin-right: 24px;


      }

      .area {

        display: flex;
        flex-direction: column;
        margin-right: 24px;


      }

    }

    .notes {

      width: 90%;
      height: 24px;
      background-color: #565656;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      &:after {

        content: "";
        position: absolute;
        bottom: -8px;
        width: 100%;
        height: 1px;
        background-color: white;

      }

      span {

        padding-left: 12px;

      }

    }

  }

  .bottom-bar {

    position: absolute;
    width: 100%;
    height: 160px;
    bottom: 0;
    left: 0;
    background-color: #343434;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 50px 50px 0 0;

    .no {

      height: 100%;
      width: 10%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: white;
      position: relative;
      border-right: 1px solid white;

      span {

        padding-top: 12px;

      }

    }

    .alt-wrapper {

      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      border-right: 1px solid white;

      .altitude {

        height: 100%;
        align-items: center;
        display: flex;
        position: relative;

        .drone-icon {

          padding: 0;
          position: absolute;
          left: -24px;
          bottom: 50px;

        }

        .alt-info {

          padding: 0 0 0 50px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          span {

            padding: 6px 0;
            font-size: 12px;

            &:nth-child(2) {

              font-weight: 800;
              font-size: 20px;

            }

          }

        }

      }

    }

    .info-board {

      height: 100%;
      color: white;
      width: 45%;
      font-size: 12px;
      border-right: 1px solid white;

      .info-up {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50%;
        padding: 0 60px;
        border-bottom: 1px solid white;

        span {

          display: flex;
          align-items: center;

        }

      }

      .info-down {

        height: 50%;
        padding: 0 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .wrapper {

          display: flex;
          align-items: center;

        }

      }

      .bat,
      .speed,
      .scanned,
      .lat,
      .long {

        font-weight: 600;
        font-size: 20px;

      }

    }

    .task-board {

      width: 25%;
      height: 100%;
      position: relative;

      .task-title {

        position: absolute;
        left: 24px;
        top: 24px;
        font-size: 12px;

      }

      .list {

        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        padding-top: 24px;

        .task {

          width: 60%;
          height: 48px;
          background-color: #636363;
          margin-right: 48px;
          display: flex;
          align-items: center;
          font-size: 12px;
          margin-bottom: 12px;

          span {

            padding-left: 12px;

          }

        }

      }

    }

  }

}

.show-alt {

  .drone-icon {

    animation: alt 16s forwards;

  }

}

.drop-down {

  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #343434;
  height: 60px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  border-bottom: 1px solid white;

}

.video-drone {

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;

}

.open {

  .left-side-bar {

    animation: dropDown 800ms forwards;

  }

}

.closed {

  .left-side-bar {

    animation: dropBack 800ms forwards;

  }

}

.time {

  position: absolute;
  right: 0;
  top: 0;
  background-color: #343434;
  border-radius: 0 0 0 50px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: center;


}